@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  min-width: 1200px;
}

.background-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.navigation {
  display: flex;
  margin: 0 71px;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  width: 459px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  justify-content: flex-end;
}

.navigation-item {
  margin-right: 33px;
}

.navigation-user-item {
  margin-left: 20px;
}

.logo-link {
  margin-left: auto;
  margin-right: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.button-navigation-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756257;
}

.inner-header {
  margin: 0 71px;

}

.main-inner {
  flex-grow: 1;
}

.main-index {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
}

.cover {
  background-color: #333333;
  background-image:
    url("../img/border.svg"),
    url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom, top;
}

.cover-text {
  display: block;
  margin: 0 auto;
}

.main-title {
  display: block;
  width: 720px;
  margin: 0 auto;
}

.main-index h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  font-size: 22px;
  line-height: 36px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  counter-reset: li;
}

.reasons-item {
  width: 33.33%;
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item h4::after {
  content: "—№"counter(li)"—";
  counter-increment: li;
  display: block;
}

.reasons-item-description {
  box-sizing: border-box;
  padding: 20px;
}

.reasons-item-image {
  width: 66.67%;
}

.reasons-item-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reasons-item-illustrated {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.reasons-item-illustrated .reasons-item-description {
  width: 33.33%;
  color: #ffffff;
  background-color: #83B3D3;
}

.reasons-sublist {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.reasons-sublist-item {
  width: 33.33%;
}

.reasons-sublist-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
  display: block;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.header-style {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: inherit;
}

.search-hotel p {
  line-height: 26px;
}

.search-hotel-link {
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter {
  display: block;
  margin: 0 auto;
  background-image: url("../img/newsletter-background.jpg");
  background-color: #756257;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.newsletter h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter p {
  color: #FFFFFF;
}

.newsletter-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer {
  background-color: #FFFFFF;
}

.page-footer-container {
  display: flex;
  margin: 0 72px;
  justify-content: space-between;

}

.footer-social-list {
  margin: 0;
  padding: 0;
}

.footer-social a {
  color: #83B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contact a {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.cover-inner {
  color: #FFFFFF;
  background-image: url("../img/catalog-background.jpg");
  background-color: #333333;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter .button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.catalog-hotels h2 {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
}

.sorting-button a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-card {
  color: #000000;
  border-top: 1px solid #E5E5E5;
}

.hotel-card a {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-decoration: none;
}

.hotel-card-parameters {
  line-height: 23px;
}

.hotel-card-buttons a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hotel-card-button-about {
  background-color: #756257;
}

.hotel-card-button-favorite {
  background-color: #83B3D3;
}

.hotel-card-button-favorite-added {
  background-color: #7DB54F;
}

.hotel-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-show-more {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.button.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-container {
  display: flex;
  margin: 0 72px;
  justify-content: space-between;
}

.pagination-list {
  margin: 0;
  padding: 0;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-current {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #F2F2F2;
}

.number-of-items {
  font-size: 18px;
  line-height: 23px;
}

.newsletter-inner {
  text-align: center;
}

.newsletter-inner h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.newsletter-inner p {
  font-size: 22px;
  line-height: 26px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
  margin: 0 71px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.options {
  flex: none;
  width: 215px;
  margin: 0;
  padding: 0;
  border: 0;
}

.price {
  padding: 0;
  border: 0;
  width: 287px;
  margin-left: auto;
  margin-right: 81px;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.sorting-container {
  display: flex;
  margin: 0 71px;
}

.hotel-list {
  margin: 0 71px;
  list-style: none;
  padding: 0;
}

.newsletter-inner {
  display: block;
  margin: 0 auto;
}
