@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  min-width: 1200px;
  margin: 0;
  color: #000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  display: inline-block;
  box-sizing: border-box;
  padding: 9px 32px;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
}

.button-primary {
  background-color: #83B3D3;
}
.button-secondary {
  background-color: #756257;
}

.button-primary.current {
  background-color: #7DB54F;
}

.button-primary:hover {
  background-color: #68A2CA;
}

.button-secondary:hover {
  background-color: #615048;
}

.button-primary.current:hover {
  background-color: #6C9E42;
}

.button-primary:focus {
  outline: none;
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
}

.button-secondary:focus {
  outline: none;
  background-color: #615048;
  box-shadow: 0 0 0 3px #83B3D3;
}

.button-primary.current:focus {
  outline: none;
  background-color: #6C9E42;
  box-shadow: 0 0 0 3px #756257;
}

.button-primary:active {
  color: rgba(255, 255, 255, .3);
  outline: none;
  background-color: #68a2ca;
  box-shadow: none;
}

.button-secondary:active {
  color: rgba(255, 255, 255, .3);
  outline: none;
  background-color: #615048;
  box-shadow: none;
}

.button-primary.current:active {
  color: rgba(255, 255, 255, .3);
  outline: none;
  background-color: #6c9e42;
  box-shadow: none;
}

.button:disabled {
  opacity: 0.5;
}

.background-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.page-header {
  z-index: 1;
}

.navigation {
  display: flex;
  box-sizing: border-box;
  padding: 0 72px 0 60px;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  box-sizing: border-box;
  width: 464px;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-item {
  margin-right: 9px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-user {
  justify-content: flex-end;
  align-items: center;
}

.logo-link {
  position: relative;
  z-index: 4;
  display: block;
  margin-right: auto;
  margin-bottom: -9px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  position: relative;
  display: block;
  padding: 3px 9px;
  text-decoration: none;
  color: inherit;
  border: 3px solid transparent;
  border-radius: 10px;
}

.navigation-user-item {
  position: relative;
}

.navigation-user-item .navigation-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-width: 38px;
  min-height: 38px;
  margin-left: 1px;
  padding: 10px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000;
}

.navigation-user-item:last-child {
  margin-left: 19px;
  }

.button-secondary.navigation-link {
  font-size: 16px;
  line-height: 21px;
  display: inline-block;
  box-sizing: border-box;
  padding: 6px 32px;
  color: #fff;
  border-radius: 4px;
}

.navigation-link:not(.button-secondary.navigation-link):hover {
  color: #756257;
}

.navigation-link:not(.button-secondary.navigation-link):focus {
  color: #756257;
  border-color: #83B3D3;
  outline: none;
}

.navigation-link:not(.button-secondary.navigation-link):active {
  color: rgba(117, 98, 87, 0.3);
  border-color: transparent;
  outline: none;
}

.button-secondary.navigation-link:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  box-shadow: none;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 8px;
  bottom: -17px;
  left: 8px;
  height: 2px;
  content: "";
  background-color: #756257;
}

.main-inner {
  flex-grow: 1;
}

.main-index {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
}

.cover {
  padding: 51px 0 82px;
  background-color: #83b3d3;
  background-image: url('../img/border.svg'),
  url('../img/index-background.jpg');
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size: 100% auto;
}

.cover-text {
  display: block;
  margin: 0 auto;
}

.main-title {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-height: 282px;
  margin: 0 auto;
  padding: 63px 40px 79px;
}

.main-title h2 {
  max-width: 720px;
  margin: 0 auto 31px;
}

.main-title p {
  max-width: 720px;
  margin: 0 auto;
}

.main-index h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 36px;
  color: #333;
}

.reasons-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: li;
  flex-wrap: wrap;
}

.reasons-item {
  width: 33.33%;
  min-height: 384px;
  background-color: rgba(131, 179, 211, .2);
}

.reasons-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item h4 {
  max-width: 171px;
  margin-top: 57px;
  margin-right: auto;
  margin-left: auto;
}

.reasons-item h4::after {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  display: block;
  margin-top: 30px;
  content: "—№"counter(li)"—";
  counter-increment: li;
  text-transform: none;
  color: #333;
}

.reasons-item:first-child h4::after {
  color: #fff;
}

.reasons-item:nth-child(2) h4::after {
  color: #fff;
}

.reasons-item-description {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 40px;
}

.reason-description {
  font-size: 18px;
  line-height: 21px;
  color: #333;
  max-width: 230px;
  margin: 0 auto;
  text-transform: none;
}

.light {
  color: #fff;
}

.reasons-item-image {
  width: 66.67%;
}

.reasons-item-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reasons-item-illustrated {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.reasons-item-illustrated .reasons-item-description {
  width: 33.33%;
  color: #fff;
  background-color: #83b3d3;
}

.reasons-sublist {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  flex-wrap: wrap;
}

.reasons-sublist-item {
  width: 33.33%;
  min-height: 384px;
}

.sublist-item-description {
  box-sizing: border-box;
  padding: 40px;
  background-repeat: no-repeat;
}

.reasons-sublist-item:nth-child(1) .sublist-item-description {
  background-image: url("../img/hotel-icon.svg");
  background-position: top 89px left 50%;
  background-size: 75px 72px;
}

.reasons-sublist-item:nth-child(2) .sublist-item-description {
  background-image: url("../img/food-icon.svg");
  background-position: top 91px left 50%;
  background-size: 74px 70px;
}

.reasons-sublist-item:nth-child(3) .sublist-item-description {
  background-image: url("../img/gifts-icon.svg");
  background-position: top 85px left 50%;
  background-size: 64px 76px;
}

.reasons-sublist-item h5 {
  font-size: 24px;
  line-height: 28px;
  margin: 144px 0 20px;
  text-transform: uppercase;
}

.reasons-sublist-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
  display: block;
  box-sizing: border-box;
  min-height: 417px;
  margin: 0 auto;
  padding: 89px 40px;
  background-color: #fff;
}

.header-style {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  display: block;
  max-width: 720px;
  margin: 0 auto 29px;
  text-transform: uppercase;
  background-color: inherit;
}

.text-style {
  font-size: 22px;
  line-height: 26px;
  line-height: 26px;
  color: #333;
  max-width: 700px;
  margin: 0 auto 58px;
}

.search-block-button {
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
  box-sizing: border-box;
  width: 575px;
  padding: 12px;
  vertical-align: top;
  border-radius: 10px;
}

.newsletter {
  display: block;
  box-sizing: border-box;
  min-height: 411px;
  margin: 0 auto;
  padding: 92px 40px;
  color: #fff;
  background-color: #756257;
  background-image: url('../img/newsletter-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  max-width: 720px;
  margin: 0 auto 29px;
  text-transform: uppercase;
}

.newsletter p {
  font-size: 22px;
  line-height: 26px;
  max-width: 540px;
  margin: 0 auto 46px;
  color: #fff;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  display: block;
  box-sizing: border-box;
  min-width: 600px;
  margin: 0;
  padding: 14px 22px;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}

.field:hover,
.field:focus {
  background-color: #E5E5E5;
}

.field:focus {
  outline: none;
  box-shadow: 0 0 0 3px #68a2ca;
}

.field:not(:placeholder-shown):active,
.field:not(:placeholder-shown):invalid {
  outline: none;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #000;
}

.field:not(:placeholder-shown):invalid {
  outline: none;
  box-shadow: inset 0 0 0 2px #FF5757;
}

.field:not(:placeholder-shown):disabled {
  opacity: 0.7;
}

.field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscribe {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  box-sizing: border-box;
  margin: 0;
  padding: 17px 34px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #83b3d3;
}

.page-footer {
  background-color: #FFFFFF;
}

.page-footer-container {
  display: grid;
  box-sizing: border-box;
  margin: 0 50px 0 61px;
  padding: 25px 0;
  grid-template-columns: 300px auto 300px;
  align-items: center;
}

.footer-social {
  margin: auto 0;
}

.footer-social-list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.footer-social-item {
  position: relative;
  box-sizing: border-box;
}

.footer-social-item:not(:last-child) {
  margin-right: 3px;
}

.social-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 7px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.social-link:hover .social-icon {
  fill: #68A2CA;
}

.social-link:focus .social-icon {
  fill: #68A2CA;
}

.social-link:focus {
  border-color: #83B3D3;
  outline: none;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contact {
  margin: 0 auto;
}

.footer-contact-phone {
  font-size: 40px;
  line-height: 40px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid transparent;
  border-radius: 10px;
}

.footer-contact-phone:hover {
  color: #756257;
}

.footer-contact-phone:focus {
  color: #756257;
  border-color: #83B3D3;
  outline: none;
}

.footer-contact-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.footer-website {
  margin-left: auto;
}

.htmlacademy-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 160px;
  height: 70px;
  padding: 18px 22px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.htmlacademy-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.htmlacademy-link:hover .htmlacademy-icon {
  fill: #756257;
}

.htmlacademy-link:focus {
  border-color: #83B3D3;
  outline: none;
}

.htmlacademy-link:focus .htmlacademy-icon {
  fill: #756257;
}

.htmlacademy-link:active .htmlacademy-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.modal-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, .8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 54px 70px 70px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, .15);
}

.modal-search {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 13px;
  height: 13px;
  margin: auto;
  fill: #000;
}

.modal-close-button:hover,
.search-form-field:hover {
  background-color: #E5E5E5;
}

.modal-close-button:focus,
.search-form-field:focus,
.modal-close-button:active {
  outline: none;
  background-color: #e5e5e5;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-close-button:active {
  box-shadow: none;
}

.modal-close-button:active .close-icon {
  opacity: 0.3;
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 8px 0 59px;
  text-transform: uppercase;
  color: #000;
}

.search-form {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  display: grid;
  grid-template-columns: 288px 230px;
  gap: 0 56px;
}

.field-group:not(.score),
.form-description,
.search-button {
  grid-column: 1 / -1;
}

.field-group {
  display: flex;
  box-sizing: border-box;
  margin: 0 0 4px;
  justify-content: space-between;
}

.field-group:last-child,
.score {
  position: relative;
  margin-bottom: 0;
}

.search-form-field {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: inherit;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 420px;
  padding: 15px 45px 15px 19px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  appearance: none;
}

.search-form-field::-webkit-outer-spin-button,
.search-form-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.search-form-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-field:not(:placeholder-shown):active {
  color: #000000;
  box-shadow: inset 0 0 0 2px #000000;
}

.search-form-field:not(:placeholder-shown):disabled {
  opacity: 0.7;
}

.date-field {
  background-image: url("../img/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: bottom 50% right 19px;
}

.score .search-form-field {
  width: 133px;
  padding: 15px 47px;
  text-align: center;
}

.form-title {
  align-self: center;
}

.info {
  position: relative;
  top: 8px;
  right: 5px;
  border: none;
  background-color: transparent;
}

.info-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 11px;
  left: -5px;
  width: 25px;
  height: 25px;
  margin: auto;
  fill: #83b3d3;
}

.info:hover .info-icon {
  fill: #68A2CA;
}

.tooltip {
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 51px;
  right: -118px;
  display: block;
  box-sizing: border-box;
  min-width: 256px;
  margin: 0;
  padding: 15px 18px 18px 22px;
  text-align: left;
  color: #fff;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .3);
}

.tooltip::before {
  position: absolute;
  top: -8px;
  left: 48%;
  width: 19px;
  height: 19px;
  content: "";
  transform: rotate(45deg);
  background-color: #333;
}

.form-description {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin: 0  0 15px 155px;
}

.error {
  color: #FF5757;
}

.search-button {
  font-size: 20px;
  line-height: 40px;
  display: inline-block;
  width: 575px;
  margin-top: 40px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.button-minus,
.button-plus {
  position: absolute;
  bottom: 13px;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  padding: 6px;
  border: 3px solid transparent;
  border-radius: 4px;
  background-color: transparent;
}

.button-minus {
  left: 168px;
}

#children + .button-minus {
  left: 110px;
}

.button-plus {
  right: 13px;
}

.minus-icon,
.plus-icon {
  position: absolute;
  right: 3px;
  fill: rgba(0, 0, 0, 0.3)
}

.button-minus:hover .minus-icon,
.button-plus:hover .plus-icon,
.button-minus:focus .minus-icon,
.button-plus:focus .plus-icon  {
  fill: #000000
}

.button-minus:focus,
.button-plus:focus {
  border-color: #83b3d3;
  outline: none;
}

.plus-icon {
  bottom: 3px;
}

.button-minus:active .minus-icon,
.button-plus:active .plus-icon  {
  fill: rgba(0, 0, 0, 0.2);
}

.cover-inner {
  box-sizing: border-box;
  min-height: 408px;
  padding: 30px 72px;
  color: #fff;
  background-color: #333;
  background-image: url('../img/catalog-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header {
  margin-bottom: 43px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 -3px;
}

.breadcrumbs {
  font-size: 16px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 3px;
}

.breadcrumbs-link {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  vertical-align: top;
  text-decoration: none;
  color: #fff;
  border: 3px solid transparent;
  border-radius: 4px;
}

 .breadcrumbs-item:first-child .breadcrumbs-link {
  right: 8px;
  display: block;
  box-sizing: border-box;
  width: 28px;
  height: 27px;
  padding: 3px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  border-color: #83B3D3;
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FFFFFF;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  height: 8px;
  content: "";
  background-image: url("../img/breadcrumb-arrow.svg");
}

.button-submit {
  font-family: inherit;
  margin-bottom: 16px;
  padding: 14px 35px;
  border: none;
  background-color: #83b3d3;
}

.button-submit:hover {
  background-color: #68A2CA;
}

.button-submit:focus {
  outline: none;
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #fff;
}

.button-submit:active {
  color: rgba(255, 255, 255, .3);
  background-color: #68a2ca;
}

.button-reset {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  padding: 2px 10px;
  text-transform: none;
  border: 3px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  align-self: center;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  border-color: #83b3d3;
  outline: none;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0;
}

.price .catalog-filter-title {
  margin-bottom: 34px;
}

.control-label {
  line-height: 23px;
}

.catalog-hotels {
  box-sizing: border-box;
  padding: 44px 72px 0;
}

.catalog-hotels h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  margin: 0;
  vertical-align: center;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
  min-height: 48px;
  margin-bottom: 42px;
  flex-wrap: wrap;
  align-items: center;
}

.sorting-type {
  margin-right: 74px;
}

.sorting {
  display: flex;
  min-width: 528px;
  margin-left: auto;
  justify-content: space-between;
}

.sorting-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-view {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin-left: 8px;
  vertical-align: top;
  text-decoration: none;
  color: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px auto;
}

.button-view:hover,
.button-view:focus {
  border-color: #83B3D3;
  outline: none;
}

.button-view.active {
  border-color: #000000;
  pointer-events: none;
}

.tiles,
.slideshow,
.list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.search-result {
  display: flex;
  box-sizing: border-box;
  padding: 27px 0;
  border-bottom: 1px solid #e5e5e5;
}

.search-result:first-child {
  border-top: 1px solid #E5E5E5;
}

.search-result-description {
  flex-grow: 1;
}

.search-result-image {
  width: 180px;
  height: 120px;
  margin-right: 30px;
  border: 3px solid transparent;
  flex: none;
  order: -1;
  align-self: center;
}

.search-result-image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.search-result-image:hover {
  opacity: 0.6;
}

.search-result-image:focus {
  border-color: #83B3D3;
  outline: none;
}

.search-result-image:active {
  opacity: 0.3;
}

.search-result-title {
  font-size: 24px;
  line-height: 31px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.search-result-title a {
  position: relative;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.search-result-title a:hover{
  color: #756257;
}

.search-result-title a:focus::before {
  position: absolute;
  top: -10px;
  right: -12px;
  bottom: -10px;
  left: -12px;
  content: "";
  color: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;
  outline: none;
}

.search-result-title a:active {
  color: rgba(117, 98, 87, 0.3);
  outline: none;
}

.search-result-info {
  line-height: 23px;
  display: grid;
  grid-template-columns: 152px 161px;
  grid-gap: 33px 8px;
}

.search-result-info p {
  margin: 0;
  color: #333;
}

.button-primary.search-result-link {
  padding: 9px 30px;
}

.button-primary.current {
  padding: 9px 28px;
}

.search-result-rating-block {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
}

.search-result-stars {
  display: flex;
  width: 160px;
  margin-top: 4px;
  justify-content: center;
}

.star-icon {
  width: 18px;
  height: 17px;
  margin-right: 7px;
  background-image: url("../img/star.svg")
}

.star-icon:last-child {
  margin-right: 0;
}

.search-result-rating {
  font-size: 16px;
  line-height: 21px;
  box-sizing: border-box;
  min-width: 160px;
  margin-top: auto;
  margin-bottom: 0;
  padding: 10px 20px 9px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.show-more {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 0 31px;
  padding: 30px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.show-more-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  box-sizing: border-box;
  width: 625px;
  margin: 0;
  padding: 15px;
  vertical-align: top;
  border: none;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-list:last-child {
  margin-right: 0;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #83b3d3;
}

.pagination-current {
  pointer-events: none;
  color: #000;
  background-color: #f2f2f2;
}

.number-of-items {
  font-size: 18px;
  line-height: 23px;
  color: #333;
  display: flex;
  max-width: 50%;
  align-items: center;
}

.newsletter-inner {
  display: block;
  box-sizing: border-box;
  min-height: 450px;
  margin: 0 auto;
  padding: 89px 40px 137px;
  text-align: center;
}

.newsletter-inner h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  max-width: 720px;
  margin: 0 auto 29px;
  text-transform: uppercase;
  color: #000;
}

.newsletter-inner p {
  font-size: 22px;
  line-height: 26px;
  color: #333;
  max-width: 540px;
  margin: 0 auto 46px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.options {
  width: 215px;
  margin: 0;
  padding: 0;
  border: 0;
  flex: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.control-input:hover ~ .control-mark,
.control-input:focus ~ .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus ~ .control-mark {
  box-shadow: 0 0 0 3px #83B3D3;
}

.control-input:disabled ~ .control-mark {
  opacity: 0.3;
}

.control-input:active ~ .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 10px;
  content: "";
  background-image: url("../img/checkbox.svg");
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  background-color: #3f5e72;
}

.control-input[type="radio"]:focus ~ .control-mark,
.control-input[type="radio"]:active ~ .control-mark {
  background-color: #FFFFFF;
}

.control-input[type="radio"]:focus ~ .control-mark {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.control-input[type="radio"]:checked:focus ~ .control-mark {
  box-shadow: 0 0 0 3px #83B3D3;
}

.control-input[type="radio"]:checked:disabled ~ .control-mark {
  opacity: 0.3;
}

.price {
  box-sizing: border-box;
  width: 287px;
  margin-right: 80px;
  margin-left: auto;
  padding: 0;
  border: 0;
}

.range {
  box-sizing: border-box;
  width: 287px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 5px;
  background: #fff;
}

.range-toggle:hover,
.range-toggle:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus,
.range-toggle:active {
  border-color: #83B3D3;
  outline: none;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  margin: -18px 0 10px;
}

.field-group-range-input {
  position: relative;
}

.field-group-range-input:last-child .range-input {
  margin-left: -2px;
  border-radius: 0 4px 4px 0;
}

.catalog-filter-label {
  line-height: 23px;
  position: absolute;
  bottom: 13px;
  left: 111px;
  opacity: .3;
}

.range-input {
  font: inherit;
  line-height: 23px;
  box-sizing: border-box;
  width: 144px;
  padding: 11px 35px 11px 16px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px 0 0 4px;
  background-color: transparent;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.catalog-filter-label:last-child .range-input:last-child {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  box-shadow: 0 0 0 3px #83B3D3, inset 0 0 0 3px #83B3D3;
  outline: none;
}

.range-input:active {
  outline: none;
  background-color: #756257;
  box-shadow: none;
}

.range-input:disabled {
  opacity: 0.3;
}

.button-container {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  margin-top: 59px;
}

.sorting-type .select-control {
  position: relative;
  width: 287px;
}

.number-of-items .select-control {
  position: relative;
  width: 160px;
  margin-left: 51px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  padding: 10px 35px 10px 17px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  background-image: url('../img/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  -webkit-appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #83b3d3;
  outline: none;
}

.select-control:active {
  opacity: 0.3;
}

.search-result-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popover {
  position: absolute;
  top: 49px;
  right: -181px;
  display: none;
  box-sizing: border-box;
  width: 400px;
  min-height: 158px;
  padding: 15px;
  color: #000;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, .15);
}

.popover-button {
  position: relative;
  bottom: -16px;
  left: -16px;
  width: 400px;
  padding: 19px 35px;
  border-radius: 0 0 20px 20px;
  background-color: #756257;
}

.popover-button:hover,
.popover-button:focus,
.popover-button:active {
  background-color: #615048;
}

.popover-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.popover-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  box-shadow: none;
}

.favorite-list {
  padding: 0;
  list-style: none;
}

.favorite-item {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.favorite-item:last-child {
  margin-bottom: 0;
}

.favorite-hotel-link {
  display: grid;
  padding: 7px;
  white-space: nowrap;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 10px;
  grid-template-columns: 48px min-content;
  grid-template-areas: 'img title'
                       'img description';
  gap: 4px 17px;
}

.favorite-hotel-link img {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  grid-area: img;
}

.favorite-hotel-link .favorite-hotel-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0 0 -10px;
  color: #000;
  grid-area: title;
}

.favorite-hotel-link p:last-child {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  color: #333;
  grid-area: description;
}

.favorite-hotel-link:hover {
  opacity: 0.6;
}

.favorite-hotel-link:focus {
  border-color: #83b3d3;
  outline: none;
}

.favorite-hotel-link:active {
  opacity: .3;
  border-color: transparent;
  outline: none;
}

.favorite-item-button {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 4px;
  padding: 7px;
  border: 3px solid transparent;
  border-radius: 10px;
  background: none;
  align-self: flex-start;
}

.favorite-item-button-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.favorite-item-button:hover .favorite-item-button-icon,
.favorite-item-button:focus .favorite-item-button-icon {
  fill: #000000;
}

.favorite-item-button:focus {
  border-color: #83b3d3;
  outline: none;
}

.favorite-item-button:active .favorite-item-button-icon {
  fill: rgba(0, 0, 0, 0.1);
}

.favorite-item-button:active {
  border: none;
  outline: none;
}

.popover-cart::before {
  position: absolute;
  top: -11px;
  left: 188px;
  width: 20px;
  height: 20px;
  content: "";
  transform: rotate(45deg);
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  background-color: #fff;
}

.navigation-user-item:nth-child(2) .navigation-link::before {
  font-size: 10px;
  line-height: 19px;
  position: absolute;
  z-index: 3;
  top: -2px;
  left: 20px;
  width: 19px;
  height: 19px;
  content: "12";
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #7db54f;
}
