@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.background-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.navigation {
  display: flex;
  padding: 0 72px;
  justify-content: space-between;
  max-height: 65px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 464px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {
  margin-right: 23px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-user {
  justify-content: flex-end;
  align-items: center;
  padding: 14px 0;
}

.logo-link {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: -5px;
  z-index: 1;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px 0px;
}

.navigation-user-item .navigation-link {
  width: 38px;
  height: 37px;
  padding: 10px;
  display: block;
  box-sizing: border-box;
}

.navigation-user-item:nth-last-child(2) {
  margin-right: 33px;
}

.button-navigation-link {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756257;
  padding: 6px 34px;
}

.main-inner {
  flex-grow: 1;
}

.main-index {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
}

.cover {
  background-color: #333333;
  background-image:
    url("../img/border.svg"),
    url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom, top;
  padding-top: 51px;
  padding-bottom: 82px;
}

.cover-text {
  display: block;
  margin: 0 auto;
}

.main-title {
  display: block;
  margin: 0 auto;
  padding: 63px 40px 79px;
  min-height: 282px;
  box-sizing: border-box;
}

.main-title h2 {
  margin: 0 auto 31px;
  max-width: 720px;
}

.main-title p {
  margin: 0 auto;
  max-width: 720px;
}

.main-index h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  font-size: 22px;
  line-height: 36px;
  margin: 0;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  counter-reset: li;
}

.reasons-item {
  width: 33.33%;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item h4 {
  margin-top: 57px;
}

.reasons-item h4::after {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 26px;
  text-transform: none;
  content: "—№"counter(li)"—";
  counter-increment: li;
  display: block;
}

.reasons-item-description {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 40px;
}

.reason-description {
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  margin: 0 auto;
  max-width: 250px;
}

.reasons-item-image {
  width: 66.67%;
}

.reasons-item-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reasons-item-illustrated {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.reasons-item-illustrated .reasons-item-description {
  width: 33.33%;
  color: #ffffff;
  background-color: #83B3D3;
}

.sublist-item-description {
  box-sizing: border-box;
  padding: 40px;
}

.reasons-sublist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.reasons-sublist-item {
  width: 33.33%;
  min-height: 384px;
}

.reasons-sublist-item h5 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 144px;
  margin-bottom: 20px;
}

.reasons-sublist-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
  display: block;
  margin: 0 auto;
  background-color: #FFFFFF;
  min-height: 417px;
  box-sizing: border-box;
  padding: 91px 40px;
}

.header-style {
  display: block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: inherit;
  max-width: 720px;
  margin: 0 auto 29px;
}

.text-style {
  line-height: 26px;
  margin: 0 auto 58px;
  max-width: 720px;
}

.search-hotel-link {
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter {
  display: block;
  margin: 0 auto;
  background-image: url("../img/newsletter-background.jpg");
  background-color: #756257;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  min-height: 417px;
  box-sizing: border-box;
  padding: 94px 40px;
}

.newsletter h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 29px;
  max-width: 720px;
}

.newsletter p {
  color: #FFFFFF;
  margin-top: 0;
  margin: 0 auto 46px;
  max-width: 720px;
}

.newsletter-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer {
  background-color: #FFFFFF;
  padding: 40px 0;
}

.page-footer-container {
  display: flex;
  margin: 0 72px;
  justify-content: space-between;
}

.footer-social {
  max-width: 33.33%;
}

.footer-contact {
  max-width: 33.33%;
}

.footer-website {
  max-width: 33.33%;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 20px;
  height: 18px;
  margin-right: 25px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social a {
  color: #83B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contact a {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.cover-inner {
  color: #FFFFFF;
  background-image: url("../img/catalog-background.jpg");
  background-color: #333333;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 72px 0;
  min-height: 408px;
  box-sizing: border-box;
  margin-bottom: 44px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
  margin: 0 0 45px;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 26px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-link span {
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter .button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.catalog-hotels {
  padding: 0 72px;
}

.catalog-hotels h2 {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
}

.sorting-container {
  display: flex;
  min-height: 48px;
  margin-bottom: 42px;
}

.sorting-type {
  margin-right: 81px;
}

.sorting {
  margin-left: auto;
}

.sorting-button a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  width: 48px;
  height: 48px;
}

.hotel-card {
  color: #000000;
  border-top: 1px solid #E5E5E5;
}

.hotel-card a {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-decoration: none;
}

.hotel-card-parameters {
  line-height: 23px;
}

.hotel-card-buttons a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hotel-card-button-about {
  background-color: #756257;
}

.hotel-card-button-favorite {
  background-color: #83B3D3;
}

.hotel-card-button-favorite-added {
  background-color: #7DB54F;
}

.hotel-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-show-more {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
  padding: 30px 215px;
}

.button.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 625px;
  height: 55px;
  border: none;
  padding: 15px;
  margin: 0;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-list:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-current {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #F2F2F2;
}

.number-of-items {
  font-size: 18px;
  line-height: 23px;
}

.newsletter-inner {
  display: block;
  box-sizing: border-box;
  text-align: center;
  min-height: 450px;
  padding: 89px 40px 137px;
}

.newsletter-inner h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 29px;
  max-width: 720px;
}

.newsletter-inner p {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 46px;
  max-width: 720px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.options {
  flex: none;
  width: 215px;
  margin: 0;
  padding: 0;
  border: 0;
}

.price {
  padding: 0;
  border: 0;
  width: 287px;
  margin-left: auto;
  margin-right: 81px;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.hotel-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.newsletter-inner {
  display: block;
  margin: 0 auto;
}

